/* Your name: Breshel Wilson, Current Date: 04/03/2022), file name: template.css */

/* First css rule set that sets background color and margin of web page */
h1{
  font color: blue;
  font-family: 'Comic Sans MS', Comic Sans Ms, monospace;
}
body {
  background-color: rgb(127, 255, 212);
  margin: 0;
  /* font-family declaration.  Comic Sans MS , monospace are fallback values */
  font-family: 'Comic Sans MS', Comic Sans MS, monospace;
}
/*Desktop viewport: style rules for nav area*/
nav (
    float: right;
    width: 70%;
    margin: 4em 1em 0 0;
}

  nav ul {
   text-align: right;
  }

}
/*Any button over which the user's pointer is hovering*/
button: hover {
  color: orange;
}
/*Any button over which the user has history of the navigation*/
button: visited {
  color: red;
}
/* style rules for header begins */
/* Style rules for Navigation bar begins */
ul.topnav {
  /* Styling the nav element to remove the bullet marker */
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(18, 125, 139);
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #010301;}

/* media query for making navigation bar responsive */
@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}

.navtop {
  font-style: italic;
}


/* style rules for main begins */

main {
  padding:  0 16px;
}

/* Rsponsive image */
img {
  max-width: 100%;
  display: block;
}

/* Class selector rule. Classes selectors start with dot(.) */
.p1 {
  font-size: 105%;
}

/* ID selector rule. id selectors start with # */
#p2 {
  color: rgb(200, 59, 15);
}


/* style rule for footer begins */

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: rgb(10, 0, 0);
  color: rgb(220, 20, 60);
  text-align: center;
}

.footerlink {
  color: white;
}
Folder structure :
